*.pyc
build
dist
nmt.egg-info
.idea
.DS_Store
nematus_env/*
*.bin
*.en
debiaswe
fast_align/
mt_gender_old/
*.out.tmp
*.npz.json
*.pickle
*vocab.*.json
*anti.*
en-de_rev/*
en-de/*
en-he/*
en-ru/*
en_anti_parsed.txt
nematus_env3/*
output_translate.txt
test_file
slurm/*
results/*
todo